@model EMS.Models.Department

@{
    ViewBag.Title = "Edit";
}

<style>
    /* Custom styles for form */
    body {
        font-family: Arial, sans-serif;
        /*background-color: ThreeDDarkShadow;*/
        background-color: lightblue;
    }

    .form-container {
        background: linear-gradient(600deg, #ffffff, #f0f0f0);
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        padding: 30px;
        margin: 50px auto;
        max-width: 600px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: black;
        background: linear-gradient(45deg, #007bff, #0056b3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .form-group {
        margin-bottom: 20px;
        color: black;
    }

    .control-label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-submit {
        background: linear-gradient(45deg, #007bff, #0056b3);
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

        .btn-submit:hover {
            background: linear-gradient(45deg, #0056b3, #003d7f);
        }

    .btn-login {
        background: linear-gradient(45deg, #28a745, #218838);
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

        .btn-login:hover {
            background: linear-gradient(45deg, #218838, #1e7e34);
        }

    .required-field:after {
        content: "*";
        color: red;
        margin-left: 5px;
    }

    .back-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #007bff;
        text-decoration: none;
    }

        .back-link:hover {
            text-decoration: underline;
        }

    /* Style for inline buttons */
    .button-container {
        text-align: center;
    }

        .button-container .btn {
            margin: 0 5px;
        }
</style>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Department</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Dept_ID)


    <div class="form-group">
        @Html.LabelFor(model => model.Dept_ID,"Department ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dept_ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dept_Name,"Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dept_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dept_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
